* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

h1 {
  color: #FFC0CB;
  text-shadow: 2px 2px 4px #FF1493;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  margin: 0;
  background-image: url("images/pink_white.jpg");
  background-size: cover;
}

.login-form {
  width: 300px;
  border: 0;
  border-radius: 10px;
  background-color: #EEEFF1;
  padding: 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
    
      
}

.submit-btn {
  color: #EEEFF1;
  font-size: 14px;
  background-color: pink;
  margin-bottom: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links a {
  font-size: 12px;
  color: #FFC0CB;
  margin: 0 5px;
  text-decoration: none;   
}

.text-field {
  font-size: 14px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%; /* 추가 */
}
