

h1 {
  color: #FFC0CB;
  text-shadow: 2px 2px 4px #FF1493;
  font-size: 35px; /* 예시 값, 필요에 따라 조절해주세요 */
}

body {
    background-color: white;
}

.copy {
    text-align: center;
    text-transform: capitalize;
}


.menu {
  height: 0.5px;
  background-color: #f9d6e8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5px;
  position: relative;
}


.menu__toggle {
  display: flex;
  align-items: center;
}

.menu__toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 50px;
  position: relative;
  width: 50px;
}

.menu__toggle-icon,
.menu__toggle-icon::before,
.menu__toggle-icon::after {
  background-color: #FF1493;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

.menu__toggle-icon::before {
  top: -6px;
}

.menu__toggle-icon::after {
  bottom: -6px;
}

.menu__items {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9d6e8;
  padding: 10px;
  z-index: 1;
}

.menu__items.is-active {
  display: flex;
}

.menu__item {
  color: #2e2e2e;
  margin-bottom: 10px;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative; /* 부모 요소를 상대 위치로 설정 */
}

.button img {
  margin-bottom: 10px;
}

.button__text {
  font-size: 24px;
  font-weight: bold;
  color: palevioletred;
  position: absolute; /* 절대 위치로 설정 */
  top: 50%; /* 부모 요소의 세로 중앙으로 */
  left: 50%; /* 부모 요소의 가로 중앙으로 */
  transform: translate(-50%, -50%); /* 정 가운데로 위치 */
}

.board {
  background-color: #f9d6e8;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.board a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}